<div>        
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>part1
            </th>
            <th>part2
            </th>
            <th>part3
            </th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td width="20%">
            <counter></counter>
        </td>
        <td width="50%">
            <courses></courses>
            <authors></authors>
        </td>
        <td width="30%">
            
            <action></action>
        </td>
    </tr>
     <tr>
        <td colspan="3">
            <!--<test-form></test-form>-->
        </td>
     </tr>
    </tbody>
</table> 
</div>